<!DOCTYPE html>
<html>
    <head>
	    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
	    <title>
		    Hello,world!
	    </title>
    </head>
    <body>
        <h1>
		    Hello,world! <img src="static/11.jpg" width=30px height=30px>
		</h1>
        <h2>This is a training site, it will be used to study the technology python/django, html/css.</h2>
        <h3>As you can see, different levels of headers are used here.</h3>
        <p>There's a bulleted list here:</p>
        <h4>
		<ul>
            <li>element 1;</li>
            <li>element 2;</li>
            <li>element 3;</li>
            <li>last element.</li>
        </ul>
		</h4>
        <p>And numbered list:</p>
        <h4>
		<ol>
            <li>element 1;</li>
            <li>element 2;</li>
            <li>element 3;</li>
            <li>last element.</li>
        </ol>
		</h4>
        <p>And even table:</p>
        <table width="100%" border="1">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
					<th>Column 5</th>
					<th>Column 6</th>
                </tr>
            </thead>
            <tr>
                <td>Line 1 Column 1</td>
                <td>Line 1 Column 2</td>
                <td>Line 1 Column 3</td>
                <td>Line 1 Column 4</td>
				<td>Line 1 Column 5</td>
				<td>Line 1 Column 6</td>
            </tr>
            <tr>
                <td>Line 2 Column 1</td>
                <td>Line 2 Column 2</td>
                <td>Line 2 Column 3</td>
                <td>Line 2 Column 4</td>
				<td>Line 2 Column 5</td>
				<td>Line 2 Column 6</td>
            </tr>
            <tr>
                <td>Line 3 Column 1</td>
                <td>Line 3 Column 2</td>
                <td>Line 3 Column 3</td>
                <td>Line 3 Column 4</td>
				<td>Line 3 Column 5</td>
				<td>Line 3 Column 6</td>
            </tr>
			<tr>
                <td>Line 4 Column 1</td>
                <td>Line 4 Column 2</td>
                <td>Line 4 Column 3</td>
                <td>Line 4 Column 4</td>
				<td>Line 4 Column 5</td>
				<td>Line 4 Column 6</td>
            </tr>
            <tr>
                <td>Line 5 Column 1</td>
                <td>Line 5 Column 2</td>
                <td>Line 5 Column 3</td>
                <td>Line 5 Column 4</td>
				<td>Line 5 Column 5</td>
				<td>Line 5 Column 6</td>
            </tr>
			<tr>
                <td>Line 6 Column 1</td>
                <td>Line 6 Column 2</td>
                <td>Line 6 Column 3</td>
                <td>Line 6 Column 4</td>
				<td>Line 6 Column 5</td>
				<td>Line 6 Column 6</td>
            </tr>
			<tr>
                <td>Line 7 Column 1</td>
                <td>Line 7 Column 2</td>
                <td>Line 7 Column 3</td>
                <td>Line 7 Column 4</td>
				<td>Line 7 Column 5</td>
				<td>Line 7 Column 6</td> 
            </tr>
        </table>
    </body>
</html>
